*.class

# Package Files #
*.jar
*.war
*.ear
.idea/.name
.idea/encodings.xml
.idea/misc.xml
.idea/modules.xml
.idea/rest-api-client-java.iml
.idea/scopes/scope_settings.xml
.idea/vcs.xml
.idea/workspace.xml
